
body
   {font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
/* background-image: url(
"../images/diagonal-squares/diagonal-squares.png"
); */

}

header
    {background-color: white;
        border: 2px solid red;

    display: block;
margin-left:150px;
margin-right: 150px;
padding: 0%;
width: 80%;
}
.clearfix::after{
    content:"";
    clear: both;
    display: block;
}


image
{float: left;
}
.my-title-name
{
    float: left;
    color: white;
    background-color: teal
}
.links{
    float: right;
}
.content{
    border:2px solid red;
    margin-left: 150px;
    width: 80%;
    
}
.about-me{
    color: teal;
}
